---
Checks: "bugprone-*,-bugprone-exception-escape,-bugprone-easily-swappable-parameters,clang-analyzer-*,cppcoreguidelines-*,-cppcoreguidelines-pro-type-static-cast-downcast,-cppcoreguidelines-avoid-c-arrays,-cppcoreguidelines-macro-usage,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-owning-memory,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-avoid-const-or-ref-data-members,misc-*,-misc-const-correctness,-misc-non-private-member-variables-in-classes,-misc-use-anonymous-namespace,modernize-*,-modernize-use-trailing-return-type,-modernize-avoid-c-arrays,performance-*,portability-*,readability-*,-readability-function-cognitive-complexity,-readability-implicit-bool-conversion,-readability-qualified-auto,-readability-magic-numbers,-readability-make-member-function-const,-readability-convert-member-functions-to-static,-readability-named-parameter,-readability-identifier-length"
WarningsAsErrors: true
HeaderFilterRegex: ""
