use flake

if [[ ! -f .vim/coc-settings.json ]]; then
  mkdir .vim
  echo '{}' > .vim/coc-settings.json
fi

new_coc_settings="$(cat .vim/coc-settings.json | jq ".[\"clangd.arguments\"] = [\"--query-driver=$(which clang++)\"]")"
echo "$new_coc_settings" > .vim/coc-settings.json

export DEBUG=1
export CC=$(which clang)
export CXX=$(which clang++)
