*.node
*.swp
*\~
.DS_Store
.cache
.direnv
.eslintcache
.idea
.lazy.lua
.travis.yml
.vim
.vs
build
build-*
compile_commands.json
example
gcc-arm-*
nix.gni
node_modules
npm-debug.log*
package-lock.json
third_party
yarn.lock
