os:
  - linux
  - osx
language: node_js
node_js:
  - '0.10'
  - '0.11'
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -y python libnss3-dev libncurses5-dev libssl-dev libexpat-dev
  - npm install -g grunt-cli
  - npm install node-gyp -g
  # get commit message
  - COMMIT_MESSAGE=$(git show -s --format=%B $TRAVIS_COMMIT | tr -d '\n')
  # put local node-pre-gyp on PATH
  - export PATH=./node_modules/.bin/:$PATH
  # install aws-sdk so it is available for publishing
  - npm install aws-sdk
  # figure out if we should publish
  - PUBLISH_BINARY=false
  # if we are building a tag then publish
  - if [[ $TRAVIS_BRANCH == `git describe --tags --always HEAD` ]]; then PUBLISH_BINARY=true; fi;
  # or if we put [publish binary] in the commit message
  - if test "${COMMIT_MESSAGE#*'[publish binary]'}" != "$COMMIT_MESSAGE"; then PUBLISH_BINARY=true; fi;
  - platform=$(uname -s | sed "y/ABCDEFGHIJKLMNOPQRSTUVWXYZ/abcdefghijklmnopqrstuvwxyz/")
  # If version is 0.9 do not publish to avoid duplicated binary error, caused by 0.9 and 0.10
  # returning same v number in node.js.
  - if [[ "$TRAVIS_NODE_VERSION" == '0.9' ]]; then PUBLISH_BINARY=false; fi;
install:
  - npm install
  #- node-pre-gyp package publish
  - npm test

before_script:
    - echo "Publishing native platform Binary Package? ->" $PUBLISH_BINARY
  # if publishing, do it
  - if [[ $PUBLISH_BINARY == true ]]; then node-pre-gyp package publish; fi;
  # cleanup
  - node-pre-gyp clean
  - node-gyp clean

script:
  # if publishing, test installing from remote
  - INSTALL_RESULT=0
  - if [[ $PUBLISH_BINARY == true ]]; then INSTALL_RESULT=$(npm install --fallback-to-build=false > /dev/null)$? || true; fi;
  # if install returned non zero (errored) then we first unpublish and then call false so travis will bail at this line
  - if [[ $INSTALL_RESULT != 0 ]]; then echo "returned $INSTALL_RESULT";node-pre-gyp unpublish;false; fi
  # If success then we arrive here so lets clean up
  - node-pre-gyp clean

after_success:
  # if success then query and display all published binaries
  - node-pre-gyp info

notifications:
  email: false
env:
  global:
  - secure: WXH5UmmNHUZT1GGJFyyZsEDlJRIa4Pw989ArTxsAiOeYhll+mbXKcWbq4IKmrvFyXE9lWtl2aCU5OnR62NoatVnRj1guQJsvxqKtpuQ2wDvrTzVn1ZKZztlhffIBcjsnud3vmqCrkWesPOhqvTltaypSGxAF92ZkttTR5iv1Cw0=
  - secure: LmX0byzsXqDC6Q+N6txwpTw8puORTBMaDFSYE2+OGbQJu06mNleYamsjTBdGTgDqBps72EiA3/GGkoarc7kyzKVP6NDMvpCwSsbDVjZkJ+OJ2wSzkD1IcHRBfsjB6NVv8rk3S5V/vwiqXM2PIaCd6o/VTGDqutf8wSxw6gYqFM4=
