language: node_js

os:
  - linux
  - osx

node_js:
  - "9"
  - "8"
  - "7"
  - "6"
  - "5"
  - "4"

addons:
  hosts:
    - web-platform.test
    - www.web-platform.test
    - www1.web-platform.test
    - www2.web-platform.test
    - xn--n8j6ds53lwwkrqhv28a.web-platform.test
    - xn--lve-6lad.web-platform.test
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - pulseaudio

notifications:
  email: false

env:
  global:
    - BVER=stable
    - DBUS_SESSION_BUS_ADDRESS=/dev/null
    - DISPLAY=:99.0
    - secure: "SFMrz/7qLPlVUN0clzthZlkILAdMoRClAggSux61wSITGvor6+jXx245muW66b1U3BoO5bjy1BwXSQwTNSc9uHfq0to9b7QwGCh04X4MDtAgcVwOCEXWkIKTZLVLkBQpxG+XPkLCwxA0Mkc8amFGEHSqn0w664UwoSqlRgUnAvg="
    - secure: "TboT8Z9uoFCb2ocvP+Srbm+rU799Fv2vJ+Za3+DcVLqG7IJyYOHUK7BNogSkbjO70+Ns2vFcDY1OZYwAbqXQ+1ah0Sh186u0PJaCyR3wTTbPdoHSNCFXLvcD82GE/NkLWurBmpDXB+3NaPgvEz3Xpy0O1Shl2bQMwW2m5NaV3eg="

install:
  - |
    set -e
    unset -f cd
    unset -f pushd
    unset -f popd

    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      export CXX=g++-4.8;
    fi

    # karma-tap has an annoying peer dependency that fails
    if [[ $(npm -v) == 2.* ]]; then
      npm install -g npm@3
    fi

    SKIP_DOWNLOAD=true DEBUG=true npm install

before_script:
  - |
    set -e
    unset -f cd
    unset -f pushd
    unset -f popd

    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      cd node_modules/travis-multirunner
      BROWSER=chrome ./setup.sh
      BROWSER=firefox ./setup.sh
      export CHROME_BIN=$(pwd)/browsers/bin/chrome-$BVER
      export FIREFOX_BIN=$(pwd)/browsers/bin/firefox-$BVER
      cd ../..

      sh -e /etc/init.d/xvfb start
      pulseaudio --start
    fi

script:
  - |
    set -e
    unset -f cd
    unset -f pushd
    unset -f popd

    npm run lint

    cd build
    make check
    make format
    cd ..
    if [[ -n $(git diff) ]]; then
      echo "You must run make format before submitting a pull request"
      echo ""
      git diff
      exit -1
    fi

    npm test

    # Node 4 & 5 are very hard to get working with WPT.
    if [[ $(node -v) != v4.* && $(node -v) != v5.* ]]; then
      npm run wpt:test
    fi

    if [ "$TRAVIS_OS_NAME" == "linux" ]; then
      npm run test:bridge
    fi

    if [[ $TRAVIS_TAG ]] ||
       [[ `git show -s --format=%B $TRAVIS_COMMIT` == *'[publish binary]'* ]];
    then
      rm -rf build
      ./node_modules/.bin/ncmake rebuild
      $RUN node_modules/.bin/node-pre-gyp package publish;
    fi
