language: node_js

os:
  - linux
  - osx

node_js:
  - "9"
  - "8"
  - "7"
  - "6"
  - "5"
  - "4"

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - doxygen
      - g++-4.8
      - libc6-dbg

notifications:
  email: false

env:
  global:
    - secure: "SFMrz/7qLPlVUN0clzthZlkILAdMoRClAggSux61wSITGvor6+jXx245muW66b1U3BoO5bjy1BwXSQwTNSc9uHfq0to9b7QwGCh04X4MDtAgcVwOCEXWkIKTZLVLkBQpxG+XPkLCwxA0Mkc8amFGEHSqn0w664UwoSqlRgUnAvg="
    - secure: "TboT8Z9uoFCb2ocvP+Srbm+rU799Fv2vJ+Za3+DcVLqG7IJyYOHUK7BNogSkbjO70+Ns2vFcDY1OZYwAbqXQ+1ah0Sh186u0PJaCyR3wTTbPdoHSNCFXLvcD82GE/NkLWurBmpDXB+3NaPgvEz3Xpy0O1Shl2bQMwW2m5NaV3eg="

install:
  - |
    echo "Setting CXX, installing Valgrind, etc. (if on Linux)"
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      export CXX=g++-4.8;

      wget ftp://sourceware.org/pub/valgrind/valgrind-3.13.0.tar.bz2
      tar xf valgrind-3.13.0.tar.bz2
      cd valgrind-3.13.0
      ./configure
      make
      sudo make install
      cd ..
    fi

  - |
    echo "Installing dependencies"
    npm install --ignore-scripts

script:
  - |
    echo "Running Doxygen (if available)"
    if command -v doxygen 1>/dev/null; then
      doxygen .doxygen.txt
      if [[ -s doxygen_warnings.txt ]]; then
        cat doxygen_warnings.txt
      fi
    fi

  - |
    echo "Building Debug version"
    ncmake rebuild --debug

  - |
    echo "Running C++ tests"
    ./bin/test

  - |
    echo "Running C++ tests with Valgrind (if available)"
    if command -v valgrind 1>/dev/null; then
      valgrind --error-exitcode=1 --smc-check=all --quiet node bin/test
    fi

  - |
    echo "Building Release version"
    ncmake rebuild

  - |
    echo "Running JavaScript tests"
    npm test

  - |
    echo "Publishing binary (maybe)"
    if [[ $TRAVIS_TAG ]] ||
       [[ `git show -s --format=%B $TRAVIS_COMMIT` == *'[publish binary]'* ]]; then
      $RUN node_modules/.bin/node-pre-gyp package publish;
    fi
