environment:
  node_pre_gyp_accessKeyId:
    secure: peJTVCVOXgERFvuZD+AFTso4pCxP759y5pcf5On1qj8=
  node_pre_gyp_secretAccessKey:
    secure: NVvJWst8RJXhz/G0Gu+dpljZz5iNT0ko4sPybD313JuIn2wAf9xGDnKEipmY1mow
  matrix:
    - nodejs_version: "8"
      platform: x64
      msvs_toolset: 15
      CHECK_REFLEXIVE: true

os: Visual Studio 2019

install:
  - scripts\build-appveyor.bat

build: OFF
test: OFF
deploy: OFF
